/*creado por hachewd 
hanzel mata r.
*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body{
	margin:0;
	padding: 0;
}
.linetop{
	background: #f1f0ee;
	border-bottom: dashed 1px #998675;
	height: 33px;
	overflow: hidden;
}
.headerbar{
	background: url(../images/top_lines.jpg);
	border-bottom: #383838 2px solid;
	box-shadow:  0px 3px 10px rgba(0,0,0,0.5);
	min-height: 122px;
	position: relative;
}
.widpages{
	display: block;
	margin: 0 auto;
}
.widpages nav.second{
	margin-left:50%;
}
.socialmedia,.secmenu, .menuprin{
	display: inline-block;
	list-style: none;
	margin:0;
	padding: 0;
	vertical-align: top;
}
.socialmedia{
	margin-right: 3%;
}
.socialmedia li,.secmenu li{
	display: inline-block;
	font-size: 12px;
	vertical-align: top;
}
.socialmedia a, .secmenu li a{
	color:#363535;
	display: block;
	margin:8px 2px 0 2px;
	text-decoration: none;
	text-transform: uppercase;
}
.linetop a:hover,.socialmedia a:hover{
	color:#acd037;
}
.icon-facebook, .icon-twitter, .icon-home{
	font-size: 15px;
}
.share:before{
	content: "Share";
}
.legal:before{
	content: "Legal";
}
.registro:before{
	content: "Registrese";
}
.ingresar:before{
	content: "Ingresar";
}
.secmenu li a.ingresar{
	background:#1e9ccc;
	border-radius: 5px;
	color: #fff;
	display: block;
	margin-top:3px;
	padding: 5px 10px;
}
.headerbar figure{
	display: inline-block;
	position: relative;
	vertical-align:top;
	width: 182px;
}
.headerbar .first{
	display: inline-block;
	vertical-align: top;
}
.headerbar figure img{
	position: absolute;
	top:-40px;
	width: 100%;
}

@media screen and (min-width:320px) and (max-width:480px) {
	.widpages{
		width:98%;
	}
	.widpages nav.second{
		margin-left:0;
	}
	.secmenu{
		float: right;
	}
	.share,.legal, .registro,.ingresar{
		font-family: 'icomoon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		font-size: 16px;
	}
	.share:before {
		content: "\e007";
	}
	.legal:before {
		content: "\e008";
	}
	.registro:before {
		content: "\e009";
	}
	.ingresar:before {
		content: "\e00a";
	}
	.headerbar figure{
		left: 22%;
	}
	.headerbar figure img{
		width: 200px;
	}
}
@media screen and (min-width:768px) and (max-width:1024px) {
	.widpages{
		width:95%;
	}
}
@media only screen and (min-width : 1224px) {
	.widpages{
		width:60%;
	}
}